<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <button id="scrape" class='scrape'>Scrape</button>

    <ul>
        {{!-- PSEUDOCODE --}}
        {{!-- 
            For each found article,

            display an article block:
                - Headline
                - Summary
                - URL
                
                For each comment, load a comment block underneath the article (default 1, non-expanded)
        --}}
    </ul>

</body>

</html>